@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.slide {
  opacity: 0;
  height: 90vh;
  width: 1055vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -30vh;
  left: -15vw;
  transition: 0.2s ease;
  z-index: 5;
}