@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

.slide {
  opacity: 0;
  height: 95vh;
  width: 1070vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -10vh;
  left: -10vw;
  transition: 0.3s ease;
  z-index: 4;
}